<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{team16/Team16Game.css}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="confetti" style="left:10%; background:red;"></div>
	<div class="confetti" style="left:20%; background:blue; animation-delay:0.2s;"></div>
	<div class="confetti" style="left:30%; background:yellow; animation-delay:0.4s;"></div>
	<div class="confetti" style="left:40%; background:green; animation-delay:0.1s;"></div>
	<div class="confetti" style="left:50%; background:pink; animation-delay:0.3s;"></div>
	<div class="confetti" style="left:60%; background:orange; animation-delay:0.5s;"></div>
	<div class="confetti" style="left:70%; background:purple; animation-delay:0.2s;"></div>
	<div class="confetti" style="left:80%; background:cyan; animation-delay:0.6s;"></div>
	
	<div class="confetti"
	     style="
	     left:50%;
	     top:50%;
	     background:red;
	     --x:-300px;
	     --y:-250px;
	"></div>

	<div class="confetti"
	     style="
	     left:50%;
	     top:50%;
	     background:blue;
	     --x:250px;
	     --y:-300px;
	"></div>

	<div class="confetti"
	     style="
	     left:50%;
	     top:50%;
	     background:yellow;
	     --x:-150px;
	     --y:-350px;
	"></div>

	<div class="confetti"
	     style="
	     left:50%;
	     top:50%;
	     background:lime;
	     --x:350px;
	     --y:-200px;
	"></div>

	<div class="confetti"
	     style="
	     left:50%;
	     top:50%;
	     background:pink;
	     --x:0px;
	     --y:-400px;
	"></div>
	
	<h2>
		<span th:if="${team16GameForm.blackCount>team16GameForm.whiteCount}">
			<span th:text="|🎊${team16GameForm.black}の勝利🎊|"></span>
		</span>
		<span th:if="${team16GameForm.blackCount<team16GameForm.whiteCount}">
			<span th:text="|🎊${team16GameForm.white}の勝利🎊|"></span>
		</span>
		<span th:if="${team16GameForm.blackCount==team16GameForm.whiteCount}">
			引き分け
		</span>
	</h2>
	<table>
			<th:block th:object="${team16GameForm}">
			<tr th:each="y,i:*{board}">
				<td th:each="x,j:${y}">
					<form method="post" th:action="@{/Black}">
		                <input type="hidden" name="x" th:value="${j.index}" >
		                <input type="hidden" name="y" th:value="${i.index}" >
						<input type="hidden" name="n" th:value="${x}" >
						
		                <button type="submit" class="board" disabled>
							<div th:if="${x == 1}"
								th:class="${team16GameForm.effectBoard[i.index][j.index] == 1} 
								? 'black whiteToBlack' :
								(${team16GameForm.effectBoard[i.index][j.index] == 2} 
								? 'black put' : 'black')">
							</div>
							<div th:if="${x == 2}"
								th:class="${team16GameForm.effectBoard[i.index][j.index] == 1} 
								? 'white blackToWhite' :
								(${team16GameForm.effectBoard[i.index][j.index] == 2} 
								? 'white put' : 'white')">
							</div>
							<div th:if="${x == 3}" class="greyW"></div>						
		                </button>
		            </form>
		        </td>
		    </tr>
			</th:block>
		</table>
		
		<h2>
			<span th:text="'黒: ' + ${team16GameForm.blackCount}"></span>
			<span class=space th:text="'    白: ' + ${team16GameForm.whiteCount}"></span>
		</h2>
		<table>
			<tr>
			<td><form method="get" th:action="@{/Team16Game}">
				<button class="restart" type="submit">リスタート</button>
			</form></td>
				<td><form method="get" th:action="@{/Team16Menu}">
				<button class="restart" type="submit">メニュー画面へ</button>
			</form></td>
				</tr>
		</table>
	
	
</body>
</html>