<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{team16/Team16Game.css}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>白の番です</h2>
	<table>
		<th:block th:object="${team16GameForm}">
		<tr th:each="y,i:*{board}">
			<td th:each="x,j:${y}">
				<form method="post" th:action="@{/Team16Black}">
	                <input type="hidden" name="x" th:value="${j.index}" >
	                <input type="hidden" name="y" th:value="${i.index}" >
					<input type="hidden" name="n" th:value="${x}" >
					
	                <button type="submit" class="board" th:disabled="${x != 3}">
						<div th:if="${x == 1}"
							th:class="${team16GameForm.effectBoard[i.index][j.index] == 1} 
							? 'black whiteToBlack' :
							(${team16GameForm.effectBoard[i.index][j.index] == 2} 
							? 'black put' : 'black')">
						</div>
						<div th:if="${x == 2}"
							th:class="${team16GameForm.effectBoard[i.index][j.index] == 1} 
							? 'white blackToWhite' :
							(${team16GameForm.effectBoard[i.index][j.index] == 2} 
							? 'white put' : 'white')">
						</div>
						<div th:if="${x == 3}" class="greyW"></div>						
	                </button>
	            </form>
	        </td>
	    </tr>
		</th:block>
	</table>
	
	<h2>
		<span th:text="'黒: ' + ${team16GameForm.black}"></span>
		<span class=space th:text="'    白: ' + ${team16GameForm.white}"></span>
	</h2>
	
	<table>
	<tr>
	<td><form method="get" th:action="@{/Team16Game}">
		<button class="restart" type="submit">リスタート</button>
	</form></td>
		<td><form method="get" th:action="@{/Team16Menu}">
		<button class="restart" type="submit">メニュー画面へ</button>
	</form></td>
		</tr>
	</table>
	
</body>
</html>