<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/team16/Team16Game.css}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>白の番です</h2>
	<table>
		<th:block th:object="${team16GameForm}">
		<tr th:each="y,i:*{board}">
			<td th:each="x,j:${y}">
				<form method="post" th:action="@{/Black}">
	                <input type="hidden"
	                       name="x"
	                       th:value="${j.index}" >

	                <input type="hidden"
	                       name="y"
	                       th:value="${i.index}" >

	                <button type="submit">
						<div th:if="${x == 1}" class="black"></div>
						<div th:if="${x == 2}" class="white"></div>	
						<div th:if="${x == 3}" class="greyB"></div>	
						<div th:if="${x == 4}" class="greyW"></div>							
	                </button>
	            </form>
	        </td>
	    </tr>
		</th:block>
	</table>
</body>
</html>