<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{team16/Team16Runking.css}">
</head>
<body>
	
	<table border="1">
		<tr>
			<th>順位</th>
			<th>ユーザ名</th>
			<th>勝利数</th>
			<th>勝率</th>
		</tr>
		<tr th:each="data,i:${runking}">
			<td th:text="${i.count}+位"></td>
			<td th:text="${data.username}"></td>
			<td th:text="${data.win_count}"></td>
			<td th:text="${data.win_percent}+'%'"></td>
			
		</tr>
	</table>
	
	<form method="get" th:action="@{/Team16Menu}">
			<button class="restart" type="submit">メニュー画面へ</button>
		</form>
		
</body>
</html>