<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="Team16/Team16Login.css">

</head>
<body>
	
	<form method="post" th:action="@{/login1}" th:object="${team16GameForm}">
		
		<p>ユーザーネームを入力してね！</p>
		<p class="user">黒プレイヤー
		<input class="username1" type ="text" th:field="*{black}">
		</p>
		
		<p class="error1" th:errors="*{black}"></p>
		<p class="error3" th:text="${message1}"></p>
		
		
		<p class="user">白プレイヤー
		<input class="username2" type ="text" th:field="*{white}">
		</p>
		
		<p class="error2" th:errors="*{white}"></p>
		
		<p class="error3" th:text="${message}"></p>
		
		
		<p class="error3" th:text="${message2}"></p>
		<input class="login" type ="submit" name="login" value ="ログイン">
		
		<br>
		<input class="add" type ="submit" name="add" value ="アカウント新規作成">
		
		<input class="menu" type ="submit" name="menu" value ="メニュー画面へ">
		
				
		
	</form>
	
</body>
</html>