<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/team16/Team16Start.css}">
</head>
<body>
	<h1>
		見附オセロ
	</h1>
	<form method="post" action="/game">
		<br><br><br>
		<p><input type="submit"value="ゲームスタート" formaction="/Game"
		              formmethod="get"/></p>
	
	<p><input type="submit"name="menu" value="メニューに戻る"/></p>
	
	</form>		
	<br><br><br>
	<p class="kekka"  th:text="'勝率：'+'　'+${user} +'　' + ${win} + '/' + ${game} + '　'+ ${wari} + '%'"></p>
	<p class="kekka"  th:text="'勝率：'+'　'+${user} +'　' + ${win} + '/' + ${game} + '　'+ ${wari} + '%'"></p>
	<table border="1">
		<tr th:each="data : ${userDataList}">
			<td th:text="${data.username}"></td>
			<td th:text="${data.username}"></td>
		</tr>
	</table>
</body>
</html>