<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{team16/Team16Start.css}">
</head>
<body>
	<h1 class="title">
		見附オセロ
	</h1>
	<form method="post" th:action="@{/Team16Game}" th:object="${team16GameForm}">
		<br>
		<input type="hidden" th:field="*{black}">
		<input type="hidden" th:field="*{white}">

		<p><input type="submit"value="ゲームスタート" th:formaction="@{/Team16Game}"
		              formmethod="get" class="start"/></p>
	
	<p><input type="submit"name="menu" value="メニューに戻る" class="menu"/></p>
	<br>
	<table>
		<tr>
			<td><span class="kekka"  th:text="'黒プレイヤー：'+*{black}"></span></td>
			<th:block class="kekka" th:each="data : ${userDataBlack}">
				<td class="kekka" th:text="'勝利数：'+${data.winCount}"></td>
				<td class="kekka" th:text="'試合数：'+${data.battleCount}"></td>
				<td class="kekka" th:text="'勝率：'+${data.winPercent}+'%'"></td>
			</th:block>
		</tr>
		<tr>
			<td><span class="kekka"  th:text="'白プレイヤー：'+*{white}"></span></td>
			<th:block class="kekka" th:each="data : ${userDataWhite}">
				<td class="kekka" th:text="'勝利数：'+${data.winCount}"></td>
				<td class="kekka" th:text="'試合数：'+${data.battleCount}"></td>
				<td class="kekka" th:text="'勝率：'+${data.winPercent}+'%'"></td>
			</th:block>
		</tr>	
	</table>
	</form>
</body>
</html>