<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{team16/Team16Start.css}">
</head>
<body>
	<h1>
		見附オセロ
	</h1>
	
	<form method="post" th:action="@{/game}" th:object="${team16GameForm}">
		<br><br><br>
		<input type="hidden" th:field="*{black}">
		<input type="hidden" th:field="*{white}">

		<p><input type="submit"value="ゲームスタート" formaction="/Game"
		              formmethod="get"/></p>
	
	<p><input type="submit"name="menu" value="メニューに戻る"/></p>
	
		
	<br><br><br>
	<span class="kekka"  th:text="'ログイン名：'+*{black} "></span>	
	
	<span class="kekka" th:each="data : ${userDataBlack}">
		<span th:text="'勝利数：'+${data.win_count}+'/'+${data.battle_count}"></span>
		
		<span class="kekka" th:text="'勝率：'+${data.win_percent}"></span>
	</span>
	<span class="kekka" th:each="data : ${userDataBlack}">
	</span>
	<span class="kekka" th:each="data : ${userDataBlack}">
	</span>
	
	<br>
	
	<span class="kekka"  th:text="'ログイン名：'+*{white} "></span>
	
	<span class="kekka" th:each="data : ${userDataWhite}">
			<span th:text="'勝利数：'+${data.win_count}+'/'+${data.battle_count}"></span>
			
			<span class="kekka" th:text="'勝率：'+${data.win_percent}"></span>
		</span>
		<span class="kekka" th:each="data : ${userDataWhite}">
		</span>
		<span class="kekka" th:each="data : ${userDataWhite}">
		</span>
	
	</form>	
</body>
</html>