table{
	margin:auto;
}
h2{
	text-align:center;
}

.board{
    width:58px;
    height:58px;
	background:green;
}
.black{
    width:40px;
    height:40px;
    background:black;
    border-radius:50%;
    margin:auto;
}


.white{
    width:40px;
    height:40px;
    background:white;
    border-radius:50%;
    margin:auto;
}

.greyB{
    width:20px;
    height:20px;
    background:#333;
    border-radius:50%;
    margin:auto;
	border: 1px solid black;
}
.greyW{
    width:20px;
    height:20px;
    background:#ddd;
    border-radius:50%;
    margin:auto;
	border: 1px solid black;
}

.restart{
	width:120px;
	height:30px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(192, 192, 192);
	margin:auto;
}
.space{
    margin-left: 30px;
}
