table{
	margin:auto;
}
h2{
	text-align:center;
}

.board{
    width:58px;
    height:58px;
	background:green;
}
.black{
    width:40px;
    height:40px;
    background:black;
    border-radius:50%;
    margin:auto;
}


.white{
    width:40px;
    height:40px;
    background:white;
    border-radius:50%;
    margin:auto;
}

.greyB{
    width:20px;
    height:20px;
    background:#333;
    border-radius:50%;
    margin:auto;
	border: 1px solid black;
}
.greyW{
    width:20px;
    height:20px;
    background:#ddd;
    border-radius:50%;
    margin:auto;
	border: 1px solid black;
}

.restart{
	width:120px;
	height:30px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(192, 192, 192);
	margin:auto;
	
}
.restart:hover{
    transform: scale(1.03);
    transition: 0.2s;
    cursor: pointer;
}
.space{
    margin-left: 30px;
}

.greyB,.greyW{

    animation: pulse 1s infinite;
}

@keyframes pulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1);
    }
}
.blackToWhite{
    animation: blackToWhite 0.4s ease;
}

@keyframes blackToWhite{

    0%{

        background:black;

        transform:rotateY(0deg);
    }

    50%{

        background:black;

        transform:rotateY(90deg);
    }

    51%{

        background:white;
    }

    100%{

        background:white;

        transform:rotateY(180deg);
    }
}

.whiteToBlack{
    animation: whiteToBlack 0.4s ease;
}

@keyframes whiteToBlack{

    0%{

        background:white;

        transform:rotateY(0deg);
    }

    50%{

        background:white;

        transform:rotateY(90deg);
    }

    51%{

        background:black;
    }

    100%{

        background:black;

        transform:rotateY(180deg);
    }
}
