@charset "UTF-8";

body{
	background-color: black;
}

form{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.moji{
	color: white;
	font-weight: bold;
	text-align: center;
}

.username{
	width: 90%;
	padding: 12px;
	border: 2px solid gainsboro;
	border-radius: 10px;
	font-size: 16px;
	margin: auto;
	
}
.error1,
.error2{
	color: red;
}

.addac,
.back{
	width: 95%;
 	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	
}

.addac{
	background-color:rgb(0, 255, 64);
	color: white;
	box-shadow: 0 0 8px rgb(0, 255, 64);
}
.back{
	background-color: dodgerblue;
	color: white;
	box-shadow: 0 0 8px dodgerblue;
}
.addac:hover{
    transform: scale(1.03);
    transition: 0.2s;
    cursor: pointer;
}
.back:hover{
    transform: scale(1.03);
    transition: 0.2s;
    cursor: pointer;
}
h2{
	text-shadow: 0 0 5px azure;
}